/*!
 *  custom-margin-padding.css by WebHunt Infotech
 *  License - Realeased Under MIT License
 */
/**
 * List of Contents:
 *
 *  Basic margin padding
 *  Basic Margin
 *  Basic Padding
 *  Margin top
 *  Margin right
 *  Margin bottom
 *  Margin left
 *  Padding top
 *  Padding right
 *  Padding bottom
 *  Padding left
 *  lg: min-width:1200px
 *  md: max-width:1199px
 *  sm: max-width:991px
 *  xs: max-width 767px
 *  xxs: max-width 479px
 * ===============================================
 */
/* min even, max odd*/

/*  Basic Margin */
.m-zero {margin: 0px !important}
.m-five {margin: 5px !important}
.m-ten {margin: 10px !important}
.m-fifteen {margin: 15px !important}
.m-twenty {margin: 20px !important}
.m-thirty {margin: 30px !important}
.m-fourty {margin: 40px !important}
.m-fifty {margin: 50px !important}
.m-sixty {margin: 60px !important}
.m-seventy {margin: 70px !important}
.m-eighty {margin: 80px !important}
.m-ninety {margin: 90px !important}
.m-hundred {margin: 100px !important}
.m-hundredten {margin: 110px !important}
.m-hundredtwenty {margin: 120px !important}
.m-hundredthirty {margin: 130px !important}
.m-hundredfourty {margin: 140px !important}
.m-hundredfifty {margin: 150px !important}
.m-hundredsixty {margin: 160px !important}
.m-hundredseventy {margin: 170px !important}
.m-hundredeighty {margin: 180px !important}
.m-hundredninety {margin: 190px !important}
.m-twohundred {margin: 200px !important}

/* Basic Padding */
.p-zero {padding: 0!important;}
.p-five {padding: 5px !important}
.p-ten {padding: 10px !important}
.p-fifteen {padding: 15px !important}
.p-twenty {padding: 20px !important}
.p-thirty {padding: 30px !important}
.p-fourty {padding: 40px !important}
.p-fifty {padding: 50px !important}
.p-sixty {padding: 60px !important}
.p-seventy {padding: 70px !important}
.p-eighty {padding: 80px !important}
.p-ninety {padding: 90px !important}
.p-hundred {padding: 100px !important}
.p-hundredten {padding: 110px !important}
.p-hundredtwenty {padding: 120px !important}
.p-hundredthirty {padding: 130px !important}
.p-hundredfourty {padding: 140px !important}
.p-hundredfifty {padding: 150px !important}
.p-hundredsixty {padding: 160px !important}
.p-hundredseventy {padding: 170px !important}
.p-hundredeighty {padding: 180px !important}
.p-hundredninety {padding: 190px !important}
.p-twohundred {padding: 200px !important}

/* Margin top */
.mt-zero {margin-top: 0!important;}
.mt-five {margin-top: 5px !important}
.mt-ten {margin-top: 10px !important}
.mt-fifteen {margin-top: 15px !important}
.mt-twenty {margin-top: 20px !important}
.mt-thirty {margin-top: 30px !important}
.mt-fourty {margin-top: 40px !important}
.mt-fifty {margin-top: 50px !important}
.mt-sixty {margin-top: 60px !important}
.mt-seventy {margin-top: 70px !important}
.mt-eighty {margin-top: 80px !important}
.mt-ninety {margin-top: 90px !important}
.mt-hundred {margin-top: 100px !important}
.mt-hundredten {margin-top: 110px !important}
.mt-hundredtwenty {margin-top: 120px !important}
.mt-hundredthirty {margin-top: 130px !important}
.mt-hundredfourty {margin-top: 140px !important}
.mt-hundredfifty {margin-top: 150px !important}
.mt-hundredsixty {margin-top: 160px !important}
.mt-hundredseventy {margin-top: 170px !important}
.mt-hundredeighty {margin-top: 180px !important}
.mt-hundredninety {margin-top: 190px !important}
.mt-twohundred {margin-top: 200px !important}

/* Margin right */
.mr-zero {margin-right: 0!important;}
.mr-five {margin-right: 5px !important}
.mr-ten {margin-right: 10px !important}
.mr-fifteen {margin-right: 15px !important}
.mr-twenty {margin-right: 20px !important}
.mr-thirty {margin-right: 30px !important}
.mr-fourty {margin-right: 40px !important}
.mr-fifty {margin-right: 50px !important}
.mr-sixty {margin-right: 60px !important}
.mr-seventy {margin-right: 70px !important}
.mr-eighty {margin-right: 80px !important}
.mr-ninety {margin-right: 90px !important}
.mr-hundred {margin-right: 100px !important}
.mr-hundredten {margin-right: 110px !important}
.mr-hundredtwenty {margin-right: 120px !important}
.mr-hundredthirty {margin-right: 130px !important}
.mr-hundredfourty {margin-right: 140px !important}
.mr-hundredfifty {margin-right: 150px !important}
.mr-hundredsixty {margin-right: 160px !important}
.mr-hundredseventy {margin-right: 170px !important}
.mr-hundredeighty {margin-right: 180px !important}
.mr-hundredninety {margin-right: 190px !important}
.mr-twohundred {margin-right: 200px !important}

/* Margin bottom */
.mb-zero {margin-bottom: 0!important;}
.mb-five {margin-bottom: 5px !important}
.mb-ten {margin-bottom: 10px !important}
.mb-fifteen {margin-bottom: 15px !important}
.mb-twenty {margin-bottom: 20px !important}
.mb-thirty {margin-bottom: 30px !important}
.mb-fourty {margin-bottom: 40px !important}
.mb-fifty {margin-bottom: 50px !important}
.mb-sixty {margin-bottom: 60px !important}
.mb-seventy {margin-bottom: 70px !important}
.mb-eighty {margin-bottom: 80px !important}
.mb-ninety {margin-bottom: 90px !important}
.mb-hundred {margin-bottom: 100px !important}
.mb-hundredten {margin-bottom: 110px !important}
.mb-hundredtwenty {margin-bottom: 120px !important}
.mb-hundredthirty {margin-bottom: 130px !important}
.mb-hundredfourty {margin-bottom: 140px !important}
.mb-hundredfifty {margin-bottom: 150px !important}
.mb-hundredsixty {margin-bottom: 160px !important}
.mb-hundredseventy {margin-bottom: 170px !important}
.mb-hundredeighty {margin-bottom: 180px !important}
.mb-hundredninety {margin-bottom: 190px !important}
.mb-twohundred {margin-bottom: 200px !important}

/* Margin left */
.ml-zero {margin-left: 0!important;}
.ml-five {margin-left: 5px !important}
.ml-ten {margin-left: 10px !important}
.ml-fifteen {margin-left: 15px !important}
.ml-twenty {margin-left: 20px !important}
.ml-thirty {margin-left: 30px !important}
.ml-fourty {margin-left: 40px !important}
.ml-fifty {margin-left: 50px !important}
.ml-sixty {margin-left: 60px !important}
.ml-seventy {margin-left: 70px !important}
.ml-eighty {margin-left: 80px !important}
.ml-ninety {margin-left: 90px !important}
.ml-hundred {margin-left: 100px !important}
.ml-hundredten {margin-left: 110px !important}
.ml-hundredtwenty {margin-left: 120px !important}
.ml-hundredthirty {margin-left: 130px !important}
.ml-hundredfourty {margin-left: 140px !important}
.ml-hundredfifty {margin-left: 150px !important}
.ml-hundredsixty {margin-left: 160px !important}
.ml-hundredseventy {margin-left: 170px !important}
.ml-hundredeighty {margin-left: 180px !important}
.ml-hundredninety {margin-left: 190px !important}
.ml-twohundred {margin-left: 200px !important}

/* Padding top */
.pt-zero {padding-top: 0!important;}
.pt-five {padding-top: 5px !important}
.pt-ten {padding-top: 10px !important}
.pt-fifteen {padding-top: 15px !important}
.pt-twenty {padding-top: 20px !important}
.pt-thirty {padding-top: 30px !important}
.pt-fourty {padding-top: 40px !important}
.pt-fifty {padding-top: 50px !important}
.pt-sixty {padding-top: 60px !important}
.pt-seventy {padding-top: 70px !important}
.pt-eighty {padding-top: 80px !important}
.pt-ninety {padding-top: 90px !important}
.pt-hundred {padding-top: 100px !important}
.pt-hundredten {padding-top: 110px !important}
.pt-hundredtwenty {padding-top: 120px !important}
.pt-hundredthirty {padding-top: 130px !important}
.pt-hundredfourty {padding-top: 140px !important}
.pt-hundredfifty {padding-top: 150px !important}
.pt-hundredsixty {padding-top: 160px !important}
.pt-hundredseventy {padding-top: 170px !important}
.pt-hundredeighty {padding-top: 180px !important}
.pt-hundredninety {padding-top: 190px !important}
.pt-twohundred {padding-top: 200px !important}

/* Padding right */
.pr-zero {padding-right: 0!important;}
.pr-five {padding-right: 5px !important}
.pr-ten {padding-right: 10px !important}
.pr-fifteen {padding-right: 15px !important}
.pr-twenty {padding-right: 20px !important}
.pr-thirty {padding-right: 30px !important}
.pr-fourty {padding-right: 40px !important}
.pr-fifty {padding-right: 50px !important}
.pr-sixty {padding-right: 60px !important}
.pr-seventy {padding-right: 70px !important}
.pr-eighty {padding-right: 80px !important}
.pr-ninety {padding-right: 90px !important}
.pr-hundred {padding-right: 100px !important}
.pr-hundredten {padding-right: 110px !important}
.pr-hundredtwenty {padding-right: 120px !important}
.pr-hundredthirty {padding-right: 130px !important}
.pr-hundredfourty {padding-right: 140px !important}
.pr-hundredfifty {padding-right: 150px !important}
.pr-hundredsixty {padding-right: 160px !important}
.pr-hundredseventy {padding-right: 170px !important}
.pr-hundredeighty {padding-right: 180px !important}
.pr-hundredninety {padding-right: 190px !important}
.pr-twohundred {padding-right: 200px !important}

/* Padding bottom */
.pb-zero {padding-bottom: 0!important;}
.pb-five {padding-bottom: 5px !important}
.pb-ten {padding-bottom: 10px !important}
.pb-fifteen {padding-bottom: 15px !important}
.pb-twenty {padding-bottom: 20px !important}
.pb-thirty {padding-bottom: 30px !important}
.pb-fourty {padding-bottom: 40px !important}
.pb-fifty {padding-bottom: 50px !important}
.pb-sixty {padding-bottom: 60px !important}
.pb-seventy {padding-bottom: 70px !important}
.pb-eighty {padding-bottom: 80px !important}
.pb-ninety {padding-bottom: 90px !important}
.pb-hundred {padding-bottom: 100px !important}
.pb-hundredten {padding-bottom: 110px !important}
.pb-hundredtwenty {padding-bottom: 120px !important}
.pb-hundredthirty {padding-bottom: 130px !important}
.pb-hundredfourty {padding-bottom: 140px !important}
.pb-hundredfifty {padding-bottom: 150px !important}
.pb-hundredsixty {padding-bottom: 160px !important}
.pb-hundredseventy {padding-bottom: 170px !important}
.pb-hundredeighty {padding-bottom: 180px !important}
.pb-hundredninety {padding-bottom: 190px !important}
.pb-twohundred {padding-bottom: 200px !important}

/* Padding left */
.pl-zero {padding-left: 0!important;}
.pl-five {padding-left: 5px !important}
.pl-ten {padding-left: 10px !important}
.pl-fifteen {padding-left: 15px !important}
.pl-twenty {padding-left: 20px !important}
.pl-thirty {padding-left: 30px !important}
.pl-fourty {padding-left: 40px !important}
.pl-fifty {padding-left: 50px !important}
.pl-sixty {padding-left: 60px !important}
.pl-seventy {padding-left: 70px !important}
.pl-eighty {padding-left: 80px !important}
.pl-ninety {padding-left: 90px !important}
.pl-hundred {padding-left: 100px !important}
.pl-hundredten {padding-left: 110px !important}
.pl-hundredtwenty {padding-left: 120px !important}
.pl-hundredthirty {padding-left: 130px !important}
.pl-hundredfourty {padding-left: 140px !important}
.pl-hundredfifty {padding-left: 150px !important}
.pl-hundredsixty {padding-left: 160px !important}
.pl-hundredseventy {padding-left: 170px !important}
.pl-hundredeighty {padding-left: 180px !important}
.pl-hundredninety {padding-left: 190px !important}
.pl-twohundred {padding-left: 200px !important}

/* lg: min-width:1200px */
@media (min-width:1200px) {
/* Basic Margin */
.m-lg-zero {margin: 0px !important}
.m-lg-five {margin: 5px !important}
.m-lg-ten {margin: 10px !important}
.m-lg-fifteen {margin: 15px !important}
.m-lg-twenty {margin: 20px !important}
.m-lg-thirty {margin: 30px !important}
.m-lg-fourty {margin: 40px !important}
.m-lg-fifty {margin: 50px !important}
.m-lg-sixty {margin: 60px !important}
.m-lg-seventy {margin: 70px !important}
.m-lg-eighty {margin: 80px !important}
.m-lg-ninety {margin: 90px !important}
.m-lg-hundred {margin: 100px !important}
.m-lg-hundredten {margin: 110px !important}
.m-lg-hundredtwenty {margin: 120px !important}
.m-lg-hundredthirty {margin: 130px !important}
.m-lg-hundredfourty {margin: 140px !important}
.m-lg-hundredfifty {margin: 150px !important}
.m-lg-hundredsixty {margin: 160px !important}
.m-lg-hundredseventy {margin: 170px !important}
.m-lg-hundredeighty {margin: 180px !important}
.m-lg-hundredninety {margin: 190px !important}
.m-lg-twohundred {margin: 200px !important}

/* Basic Padding */
.p-lg-zero {padding: 0!important;}
.p-lg-five {padding: 5px !important}
.p-lg-ten {padding: 10px !important}
.p-lg-fifteen {padding: 15px !important}
.p-lg-twenty {padding: 20px !important}
.p-lg-thirty {padding: 30px !important}
.p-lg-fourty {padding: 40px !important}
.p-lg-fifty {padding: 50px !important}
.p-lg-sixty {padding: 60px !important}
.p-lg-seventy {padding: 70px !important}
.p-lg-eighty {padding: 80px !important}
.p-lg-ninety {padding: 90px !important}
.p-lg-hundred {padding: 100px !important}
.p-lg-hundredten {padding: 110px !important}
.p-lg-hundredtwenty {padding: 120px !important}
.p-lg-hundredthirty {padding: 130px !important}
.p-lg-hundredfourty {padding: 140px !important}
.p-lg-hundredfifty {padding: 150px !important}
.p-lg-hundredsixty {padding: 160px !important}
.p-lg-hundredseventy {padding: 170px !important}
.p-lg-hundredeighty {padding: 180px !important}
.p-lg-hundredninety {padding: 190px !important}
.p-lg-twohundred {padding: 200px !important}

/* Margin top */
.mt-lg-zero {margin-top: 0!important;}
.mt-lg-five {margin-top: 5px !important}
.mt-lg-ten {margin-top: 10px !important}
.mt-lg-fifteen {margin-top: 15px !important}
.mt-lg-twenty {margin-top: 20px !important}
.mt-lg-thirty {margin-top: 30px !important}
.mt-lg-fourty {margin-top: 40px !important}
.mt-lg-fifty {margin-top: 50px !important}
.mt-lg-sixty {margin-top: 60px !important}
.mt-lg-seventy {margin-top: 70px !important}
.mt-lg-eighty {margin-top: 80px !important}
.mt-lg-ninety {margin-top: 90px !important}
.mt-lg-hundred {margin-top: 100px !important}
.mt-lg-hundredten {margin-top: 110px !important}
.mt-lg-hundredtwenty {margin-top: 120px !important}
.mt-lg-hundredthirty {margin-top: 130px !important}
.mt-lg-hundredfourty {margin-top: 140px !important}
.mt-lg-hundredfifty {margin-top: 150px !important}
.mt-lg-hundredsixty {margin-top: 160px !important}
.mt-lg-hundredseventy {margin-top: 170px !important}
.mt-lg-hundredeighty {margin-top: 180px !important}
.mt-lg-hundredninety {margin-top: 190px !important}
.mt-lg-twohundred {margin-top: 200px !important}

/* Margin right */
.mr-lg-zero {margin-right: 0!important;}
.mr-lg-five {margin-right: 5px !important}
.mr-lg-ten {margin-right: 10px !important}
.mr-lg-fifteen {margin-right: 15px !important}
.mr-lg-twenty {margin-right: 20px !important}
.mr-lg-thirty {margin-right: 30px !important}
.mr-lg-fourty {margin-right: 40px !important}
.mr-lg-fifty {margin-right: 50px !important}
.mr-lg-sixty {margin-right: 60px !important}
.mr-lg-seventy {margin-right: 70px !important}
.mr-lg-eighty {margin-right: 80px !important}
.mr-lg-ninety {margin-right: 90px !important}
.mr-lg-hundred {margin-right: 100px !important}
.mr-lg-hundredten {margin-right: 110px !important}
.mr-lg-hundredtwenty {margin-right: 120px !important}
.mr-lg-hundredthirty {margin-right: 130px !important}
.mr-lg-hundredfourty {margin-right: 140px !important}
.mr-lg-hundredfifty {margin-right: 150px !important}
.mr-lg-hundredsixty {margin-right: 160px !important}
.mr-lg-hundredseventy {margin-right: 170px !important}
.mr-lg-hundredeighty {margin-right: 180px !important}
.mr-lg-hundredninety {margin-right: 190px !important}
.mr-lg-twohundred {margin-right: 200px !important}

/* Margin bottom */
.mb-lg-zero {margin-bottom: 0!important;}
.mb-lg-five {margin-bottom: 5px !important}
.mb-lg-ten {margin-bottom: 10px !important}
.mb-lg-fifteen {margin-bottom: 15px !important}
.mb-lg-twenty {margin-bottom: 20px !important}
.mb-lg-thirty {margin-bottom: 30px !important}
.mb-lg-fourty {margin-bottom: 40px !important}
.mb-lg-fifty {margin-bottom: 50px !important}
.mb-lg-sixty {margin-bottom: 60px !important}
.mb-lg-seventy {margin-bottom: 70px !important}
.mb-lg-eighty {margin-bottom: 80px !important}
.mb-lg-ninety {margin-bottom: 90px !important}
.mb-lg-hundred {margin-bottom: 100px !important}
.mb-lg-hundredten {margin-bottom: 110px !important}
.mb-lg-hundredtwenty {margin-bottom: 120px !important}
.mb-lg-hundredthirty {margin-bottom: 130px !important}
.mb-lg-hundredfourty {margin-bottom: 140px !important}
.mb-lg-hundredfifty {margin-bottom: 150px !important}
.mb-lg-hundredsixty {margin-bottom: 160px !important}
.mb-lg-hundredseventy {margin-bottom: 170px !important}
.mb-lg-hundredeighty {margin-bottom: 180px !important}
.mb-lg-hundredninety {margin-bottom: 190px !important}
.mb-lg-twohundred {margin-bottom: 200px !important}

/* Margin left */
.ml-lg-zero {margin-left: 0!important;}
.ml-lg-five {margin-left: 5px !important}
.ml-lg-ten {margin-left: 10px !important}
.ml-lg-fifteen {margin-left: 15px !important}
.ml-lg-twenty {margin-left: 20px !important}
.ml-lg-thirty {margin-left: 30px !important}
.ml-lg-fourty {margin-left: 40px !important}
.ml-lg-fifty {margin-left: 50px !important}
.ml-lg-sixty {margin-left: 60px !important}
.ml-lg-seventy {margin-left: 70px !important}
.ml-lg-eighty {margin-left: 80px !important}
.ml-lg-ninety {margin-left: 90px !important}
.ml-lg-hundred {margin-left: 100px !important}
.ml-lg-hundredten {margin-left: 110px !important}
.ml-lg-hundredtwenty {margin-left: 120px !important}
.ml-lg-hundredthirty {margin-left: 130px !important}
.ml-lg-hundredfourty {margin-left: 140px !important}
.ml-lg-hundredfifty {margin-left: 150px !important}
.ml-lg-hundredsixty {margin-left: 160px !important}
.ml-lg-hundredseventy {margin-left: 170px !important}
.ml-lg-hundredeighty {margin-left: 180px !important}
.ml-lg-hundredninety {margin-left: 190px !important}
.ml-lg-twohundred {margin-left: 200px !important}

/* Padding top */
.pt-lg-zero {padding-top: 0!important;}
.pt-lg-five {padding-top: 5px !important}
.pt-lg-ten {padding-top: 10px !important}
.pt-lg-fifteen {padding-top: 15px !important}
.pt-lg-twenty {padding-top: 20px !important}
.pt-lg-thirty {padding-top: 30px !important}
.pt-lg-fourty {padding-top: 40px !important}
.pt-lg-fifty {padding-top: 50px !important}
.pt-lg-sixty {padding-top: 60px !important}
.pt-lg-seventy {padding-top: 70px !important}
.pt-lg-eighty {padding-top: 80px !important}
.pt-lg-ninety {padding-top: 90px !important}
.pt-lg-hundred {padding-top: 100px !important}
.pt-lg-hundredten {padding-top: 110px !important}
.pt-lg-hundredtwenty {padding-top: 120px !important}
.pt-lg-hundredthirty {padding-top: 130px !important}
.pt-lg-hundredfourty {padding-top: 140px !important}
.pt-lg-hundredfifty {padding-top: 150px !important}
.pt-lg-hundredsixty {padding-top: 160px !important}
.pt-lg-hundredseventy {padding-top: 170px !important}
.pt-lg-hundredeighty {padding-top: 180px !important}
.pt-lg-hundredninety {padding-top: 190px !important}
.pt-lg-twohundred {padding-top: 200px !important}

/* Padding right */
.pr-lg-zero {padding-right: 0!important;}
.pr-lg-five {padding-right: 5px !important}
.pr-lg-ten {padding-right: 10px !important}
.pr-lg-fifteen {padding-right: 15px !important}
.pr-lg-twenty {padding-right: 20px !important}
.pr-lg-thirty {padding-right: 30px !important}
.pr-lg-fourty {padding-right: 40px !important}
.pr-lg-fifty {padding-right: 50px !important}
.pr-lg-sixty {padding-right: 60px !important}
.pr-lg-seventy {padding-right: 70px !important}
.pr-lg-eighty {padding-right: 80px !important}
.pr-lg-ninety {padding-right: 90px !important}
.pr-lg-hundred {padding-right: 100px !important}
.pr-lg-hundredten {padding-right: 110px !important}
.pr-lg-hundredtwenty {padding-right: 120px !important}
.pr-lg-hundredthirty {padding-right: 130px !important}
.pr-lg-hundredfourty {padding-right: 140px !important}
.pr-lg-hundredfifty {padding-right: 150px !important}
.pr-lg-hundredsixty {padding-right: 160px !important}
.pr-lg-hundredseventy {padding-right: 170px !important}
.pr-lg-hundredeighty {padding-right: 180px !important}
.pr-lg-hundredninety {padding-right: 190px !important}
.pr-lg-twohundred {padding-right: 200px !important}

/* Padding bottom */
.pb-lg-zero {padding-bottom: 0!important;}
.pb-lg-five {padding-bottom: 5px !important}
.pb-lg-ten {padding-bottom: 10px !important}
.pb-lg-fifteen {padding-bottom: 15px !important}
.pb-lg-twenty {padding-bottom: 20px !important}
.pb-lg-thirty {padding-bottom: 30px !important}
.pb-lg-fourty {padding-bottom: 40px !important}
.pb-lg-fifty {padding-bottom: 50px !important}
.pb-lg-sixty {padding-bottom: 60px !important}
.pb-lg-seventy {padding-bottom: 70px !important}
.pb-lg-eighty {padding-bottom: 80px !important}
.pb-lg-ninety {padding-bottom: 90px !important}
.pb-lg-hundred {padding-bottom: 100px !important}
.pb-lg-hundredten {padding-bottom: 110px !important}
.pb-lg-hundredtwenty {padding-bottom: 120px !important}
.pb-lg-hundredthirty {padding-bottom: 130px !important}
.pb-lg-hundredfourty {padding-bottom: 140px !important}
.pb-lg-hundredfifty {padding-bottom: 150px !important}
.pb-lg-hundredsixty {padding-bottom: 160px !important}
.pb-lg-hundredseventy {padding-bottom: 170px !important}
.pb-lg-hundredeighty {padding-bottom: 180px !important}
.pb-lg-hundredninety {padding-bottom: 190px !important}
.pb-lg-twohundred {padding-bottom: 200px !important}

/* Padding left */
.pl-lg-zero {padding-left: 0!important;}
.pl-lg-five {padding-left: 5px !important}
.pl-lg-ten {padding-left: 10px !important}
.pl-lg-fifteen {padding-left: 15px !important}
.pl-lg-twenty {padding-left: 20px !important}
.pl-lg-thirty {padding-left: 30px !important}
.pl-lg-fourty {padding-left: 40px !important}
.pl-lg-fifty {padding-left: 50px !important}
.pl-lg-sixty {padding-left: 60px !important}
.pl-lg-seventy {padding-left: 70px !important}
.pl-lg-eighty {padding-left: 80px !important}
.pl-lg-ninety {padding-left: 90px !important}
.pl-lg-hundred {padding-left: 100px !important}
.pl-lg-hundredten {padding-left: 110px !important}
.pl-lg-hundredtwenty {padding-left: 120px !important}
.pl-lg-hundredthirty {padding-left: 130px !important}
.pl-lg-hundredfourty {padding-left: 140px !important}
.pl-lg-hundredfifty {padding-left: 150px !important}
.pl-lg-hundredsixty {padding-left: 160px !important}
.pl-lg-hundredseventy {padding-left: 170px !important}
.pl-lg-hundredeighty {padding-left: 180px !important}
.pl-lg-hundredninety {padding-left: 190px !important}
.pl-lg-twohundred {padding-left: 200px !important}
}

/* md: max-width:1199px */
@media (max-width:1199px) {
/* Basic Margin */
.m-md-zero {margin: 0px !important}
.m-md-five {margin: 5px !important}
.m-md-ten {margin: 10px !important}
.m-md-fifteen {margin: 15px !important}
.m-md-twenty {margin: 20px !important}
.m-md-thirty {margin: 30px !important}
.m-md-fourty {margin: 40px !important}
.m-md-fifty {margin: 50px !important}
.m-md-sixty {margin: 60px !important}
.m-md-seventy {margin: 70px !important}
.m-md-eighty {margin: 80px !important}
.m-md-ninety {margin: 90px !important}
.m-md-hundred {margin: 100px !important}
.m-md-hundredten {margin: 110px !important}
.m-md-hundredtwenty {margin: 120px !important}
.m-md-hundredthirty {margin: 130px !important}
.m-md-hundredfourty {margin: 140px !important}
.m-md-hundredfifty {margin: 150px !important}
.m-md-hundredsixty {margin: 160px !important}
.m-md-hundredseventy {margin: 170px !important}
.m-md-hundredeighty {margin: 180px !important}
.m-md-hundredninety {margin: 190px !important}
.m-md-twohundred {margin: 200px !important}

/* Basic Padding */
.p-md-zero {padding: 0!important;}
.p-md-five {padding: 5px !important}
.p-md-ten {padding: 10px !important}
.p-md-fifteen {padding: 15px !important}
.p-md-twenty {padding: 20px !important}
.p-md-thirty {padding: 30px !important}
.p-md-fourty {padding: 40px !important}
.p-md-fifty {padding: 50px !important}
.p-md-sixty {padding: 60px !important}
.p-md-seventy {padding: 70px !important}
.p-md-eighty {padding: 80px !important}
.p-md-ninety {padding: 90px !important}
.p-md-hundred {padding: 100px !important}
.p-md-hundredten {padding: 110px !important}
.p-md-hundredtwenty {padding: 120px !important}
.p-md-hundredthirty {padding: 130px !important}
.p-md-hundredfourty {padding: 140px !important}
.p-md-hundredfifty {padding: 150px !important}
.p-md-hundredsixty {padding: 160px !important}
.p-md-hundredseventy {padding: 170px !important}
.p-md-hundredeighty {padding: 180px !important}
.p-md-hundredninety {padding: 190px !important}
.p-md-twohundred {padding: 200px !important}

/* Margin top */
.mt-md-zero {margin-top: 0!important;}
.mt-md-five {margin-top: 5px !important}
.mt-md-ten {margin-top: 10px !important}
.mt-md-fifteen {margin-top: 15px !important}
.mt-md-twenty {margin-top: 20px !important}
.mt-md-thirty {margin-top: 30px !important}
.mt-md-fourty {margin-top: 40px !important}
.mt-md-fifty {margin-top: 50px !important}
.mt-md-sixty {margin-top: 60px !important}
.mt-md-seventy {margin-top: 70px !important}
.mt-md-eighty {margin-top: 80px !important}
.mt-md-ninety {margin-top: 90px !important}
.mt-md-hundred {margin-top: 100px !important}
.mt-md-hundredten {margin-top: 110px !important}
.mt-md-hundredtwenty {margin-top: 120px !important}
.mt-md-hundredthirty {margin-top: 130px !important}
.mt-md-hundredfourty {margin-top: 140px !important}
.mt-md-hundredfifty {margin-top: 150px !important}
.mt-md-hundredsixty {margin-top: 160px !important}
.mt-md-hundredseventy {margin-top: 170px !important}
.mt-md-hundredeighty {margin-top: 180px !important}
.mt-md-hundredninety {margin-top: 190px !important}
.mt-md-twohundred {margin-top: 200px !important}

/* Margin right */
.mr-md-zero {margin-right: 0!important;}
.mr-md-five {margin-right: 5px !important}
.mr-md-ten {margin-right: 10px !important}
.mr-md-fifteen {margin-right: 15px !important}
.mr-md-twenty {margin-right: 20px !important}
.mr-md-thirty {margin-right: 30px !important}
.mr-md-fourty {margin-right: 40px !important}
.mr-md-fifty {margin-right: 50px !important}
.mr-md-sixty {margin-right: 60px !important}
.mr-md-seventy {margin-right: 70px !important}
.mr-md-eighty {margin-right: 80px !important}
.mr-md-ninety {margin-right: 90px !important}
.mr-md-hundred {margin-right: 100px !important}
.mr-md-hundredten {margin-right: 110px !important}
.mr-md-hundredtwenty {margin-right: 120px !important}
.mr-md-hundredthirty {margin-right: 130px !important}
.mr-md-hundredfourty {margin-right: 140px !important}
.mr-md-hundredfifty {margin-right: 150px !important}
.mr-md-hundredsixty {margin-right: 160px !important}
.mr-md-hundredseventy {margin-right: 170px !important}
.mr-md-hundredeighty {margin-right: 180px !important}
.mr-md-hundredninety {margin-right: 190px !important}
.mr-md-twohundred {margin-right: 200px !important}

/* Margin bottom */
.mb-md-zero {margin-bottom: 0!important;}
.mb-md-five {margin-bottom: 5px !important}
.mb-md-ten {margin-bottom: 10px !important}
.mb-md-fifteen {margin-bottom: 15px !important}
.mb-md-twenty {margin-bottom: 20px !important}
.mb-md-thirty {margin-bottom: 30px !important}
.mb-md-fourty {margin-bottom: 40px !important}
.mb-md-fifty {margin-bottom: 50px !important}
.mb-md-sixty {margin-bottom: 60px !important}
.mb-md-seventy {margin-bottom: 70px !important}
.mb-md-eighty {margin-bottom: 80px !important}
.mb-md-ninety {margin-bottom: 90px !important}
.mb-md-hundred {margin-bottom: 100px !important}
.mb-md-hundredten {margin-bottom: 110px !important}
.mb-md-hundredtwenty {margin-bottom: 120px !important}
.mb-md-hundredthirty {margin-bottom: 130px !important}
.mb-md-hundredfourty {margin-bottom: 140px !important}
.mb-md-hundredfifty {margin-bottom: 150px !important}
.mb-md-hundredsixty {margin-bottom: 160px !important}
.mb-md-hundredseventy {margin-bottom: 170px !important}
.mb-md-hundredeighty {margin-bottom: 180px !important}
.mb-md-hundredninety {margin-bottom: 190px !important}
.mb-md-twohundred {margin-bottom: 200px !important}

/* Margin left */
.ml-md-zero {margin-left: 0!important;}
.ml-md-five {margin-left: 5px !important}
.ml-md-ten {margin-left: 10px !important}
.ml-md-fifteen {margin-left: 15px !important}
.ml-md-twenty {margin-left: 20px !important}
.ml-md-thirty {margin-left: 30px !important}
.ml-md-fourty {margin-left: 40px !important}
.ml-md-fifty {margin-left: 50px !important}
.ml-md-sixty {margin-left: 60px !important}
.ml-md-seventy {margin-left: 70px !important}
.ml-md-eighty {margin-left: 80px !important}
.ml-md-ninety {margin-left: 90px !important}
.ml-md-hundred {margin-left: 100px !important}
.ml-md-hundredten {margin-left: 110px !important}
.ml-md-hundredtwenty {margin-left: 120px !important}
.ml-md-hundredthirty {margin-left: 130px !important}
.ml-md-hundredfourty {margin-left: 140px !important}
.ml-md-hundredfifty {margin-left: 150px !important}
.ml-md-hundredsixty {margin-left: 160px !important}
.ml-md-hundredseventy {margin-left: 170px !important}
.ml-md-hundredeighty {margin-left: 180px !important}
.ml-md-hundredninety {margin-left: 190px !important}
.ml-md-twohundred {margin-left: 200px !important}

/* Padding top */
.pt-md-zero {padding-top: 0!important;}
.pt-md-five {padding-top: 5px !important}
.pt-md-ten {padding-top: 10px !important}
.pt-md-fifteen {padding-top: 15px !important}
.pt-md-twenty {padding-top: 20px !important}
.pt-md-thirty {padding-top: 30px !important}
.pt-md-fourty {padding-top: 40px !important}
.pt-md-fifty {padding-top: 50px !important}
.pt-md-sixty {padding-top: 60px !important}
.pt-md-seventy {padding-top: 70px !important}
.pt-md-eighty {padding-top: 80px !important}
.pt-md-ninety {padding-top: 90px !important}
.pt-md-hundred {padding-top: 100px !important}
.pt-md-hundredten {padding-top: 110px !important}
.pt-md-hundredtwenty {padding-top: 120px !important}
.pt-md-hundredthirty {padding-top: 130px !important}
.pt-md-hundredfourty {padding-top: 140px !important}
.pt-md-hundredfifty {padding-top: 150px !important}
.pt-md-hundredsixty {padding-top: 160px !important}
.pt-md-hundredseventy {padding-top: 170px !important}
.pt-md-hundredeighty {padding-top: 180px !important}
.pt-md-hundredninety {padding-top: 190px !important}
.pt-md-twohundred {padding-top: 200px !important}

/* Padding right */
.pr-md-zero {padding-right: 0!important;}
.pr-md-five {padding-right: 5px !important}
.pr-md-ten {padding-right: 10px !important}
.pr-md-fifteen {padding-right: 15px !important}
.pr-md-twenty {padding-right: 20px !important}
.pr-md-thirty {padding-right: 30px !important}
.pr-md-fourty {padding-right: 40px !important}
.pr-md-fifty {padding-right: 50px !important}
.pr-md-sixty {padding-right: 60px !important}
.pr-md-seventy {padding-right: 70px !important}
.pr-md-eighty {padding-right: 80px !important}
.pr-md-ninety {padding-right: 90px !important}
.pr-md-hundred {padding-right: 100px !important}
.pr-md-hundredten {padding-right: 110px !important}
.pr-md-hundredtwenty {padding-right: 120px !important}
.pr-md-hundredthirty {padding-right: 130px !important}
.pr-md-hundredfourty {padding-right: 140px !important}
.pr-md-hundredfifty {padding-right: 150px !important}
.pr-md-hundredsixty {padding-right: 160px !important}
.pr-md-hundredseventy {padding-right: 170px !important}
.pr-md-hundredeighty {padding-right: 180px !important}
.pr-md-hundredninety {padding-right: 190px !important}
.pr-md-twohundred {padding-right: 200px !important}

/* Padding bottom */
.pb-md-zero {padding-bottom: 0!important;}
.pb-md-five {padding-bottom: 5px !important}
.pb-md-ten {padding-bottom: 10px !important}
.pb-md-fifteen {padding-bottom: 15px !important}
.pb-md-twenty {padding-bottom: 20px !important}
.pb-md-thirty {padding-bottom: 30px !important}
.pb-md-fourty {padding-bottom: 40px !important}
.pb-md-fifty {padding-bottom: 50px !important}
.pb-md-sixty {padding-bottom: 60px !important}
.pb-md-seventy {padding-bottom: 70px !important}
.pb-md-eighty {padding-bottom: 80px !important}
.pb-md-ninety {padding-bottom: 90px !important}
.pb-md-hundred {padding-bottom: 100px !important}
.pb-md-hundredten {padding-bottom: 110px !important}
.pb-md-hundredtwenty {padding-bottom: 120px !important}
.pb-md-hundredthirty {padding-bottom: 130px !important}
.pb-md-hundredfourty {padding-bottom: 140px !important}
.pb-md-hundredfifty {padding-bottom: 150px !important}
.pb-md-hundredsixty {padding-bottom: 160px !important}
.pb-md-hundredseventy {padding-bottom: 170px !important}
.pb-md-hundredeighty {padding-bottom: 180px !important}
.pb-md-hundredninety {padding-bottom: 190px !important}
.pb-md-twohundred {padding-bottom: 200px !important}

/* Padding left */
.pl-md-zero {padding-left: 0!important;}
.pl-md-five {padding-left: 5px !important}
.pl-md-ten {padding-left: 10px !important}
.pl-md-fifteen {padding-left: 15px !important}
.pl-md-twenty {padding-left: 20px !important}
.pl-md-thirty {padding-left: 30px !important}
.pl-md-fourty {padding-left: 40px !important}
.pl-md-fifty {padding-left: 50px !important}
.pl-md-sixty {padding-left: 60px !important}
.pl-md-seventy {padding-left: 70px !important}
.pl-md-eighty {padding-left: 80px !important}
.pl-md-ninety {padding-left: 90px !important}
.pl-md-hundred {padding-left: 100px !important}
.pl-md-hundredten {padding-left: 110px !important}
.pl-md-hundredtwenty {padding-left: 120px !important}
.pl-md-hundredthirty {padding-left: 130px !important}
.pl-md-hundredfourty {padding-left: 140px !important}
.pl-md-hundredfifty {padding-left: 150px !important}
.pl-md-hundredsixty {padding-left: 160px !important}
.pl-md-hundredseventy {padding-left: 170px !important}
.pl-md-hundredeighty {padding-left: 180px !important}
.pl-md-hundredninety {padding-left: 190px !important}
.pl-md-twohundred {padding-left: 200px !important}
}

/* sm: max-width:991px */
@media (max-width:991px) {
/* Basic Margin */
.m-sm-zero {margin: 0px !important}
.m-sm-five {margin: 5px !important}
.m-sm-ten {margin: 10px !important}
.m-sm-fifteen {margin: 15px !important}
.m-sm-twenty {margin: 20px !important}
.m-sm-thirty {margin: 30px !important}
.m-sm-fourty {margin: 40px !important}
.m-sm-fifty {margin: 50px !important}
.m-sm-sixty {margin: 60px !important}
.m-sm-seventy {margin: 70px !important}
.m-sm-eighty {margin: 80px !important}
.m-sm-ninety {margin: 90px !important}
.m-sm-hundred {margin: 100px !important}
.m-sm-hundredten {margin: 110px !important}
.m-sm-hundredtwenty {margin: 120px !important}
.m-sm-hundredthirty {margin: 130px !important}
.m-sm-hundredfourty {margin: 140px !important}
.m-sm-hundredfifty {margin: 150px !important}
.m-sm-hundredsixty {margin: 160px !important}
.m-sm-hundredseventy {margin: 170px !important}
.m-sm-hundredeighty {margin: 180px !important}
.m-sm-hundredninety {margin: 190px !important}
.m-sm-twohundred {margin: 200px !important}

/* Basic Padding */
.p-sm-zero {padding: 0!important;}
.p-sm-five {padding: 5px !important}
.p-sm-ten {padding: 10px !important}
.p-sm-fifteen {padding: 15px !important}
.p-sm-twenty {padding: 20px !important}
.p-sm-thirty {padding: 30px !important}
.p-sm-fourty {padding: 40px !important}
.p-sm-fifty {padding: 50px !important}
.p-sm-sixty {padding: 60px !important}
.p-sm-seventy {padding: 70px !important}
.p-sm-eighty {padding: 80px !important}
.p-sm-ninety {padding: 90px !important}
.p-sm-hundred {padding: 100px !important}
.p-sm-hundredten {padding: 110px !important}
.p-sm-hundredtwenty {padding: 120px !important}
.p-sm-hundredthirty {padding: 130px !important}
.p-sm-hundredfourty {padding: 140px !important}
.p-sm-hundredfifty {padding: 150px !important}
.p-sm-hundredsixty {padding: 160px !important}
.p-sm-hundredseventy {padding: 170px !important}
.p-sm-hundredeighty {padding: 180px !important}
.p-sm-hundredninety {padding: 190px !important}
.p-sm-twohundred {padding: 200px !important}

/* Margin top */
.mt-sm-zero {margin-top: 0!important;}
.mt-sm-five {margin-top: 5px !important}
.mt-sm-ten {margin-top: 10px !important}
.mt-sm-fifteen {margin-top: 15px !important}
.mt-sm-twenty {margin-top: 20px !important}
.mt-sm-thirty {margin-top: 30px !important}
.mt-sm-fourty {margin-top: 40px !important}
.mt-sm-fifty {margin-top: 50px !important}
.mt-sm-sixty {margin-top: 60px !important}
.mt-sm-seventy {margin-top: 70px !important}
.mt-sm-eighty {margin-top: 80px !important}
.mt-sm-ninety {margin-top: 90px !important}
.mt-sm-hundred {margin-top: 100px !important}
.mt-sm-hundredten {margin-top: 110px !important}
.mt-sm-hundredtwenty {margin-top: 120px !important}
.mt-sm-hundredthirty {margin-top: 130px !important}
.mt-sm-hundredfourty {margin-top: 140px !important}
.mt-sm-hundredfifty {margin-top: 150px !important}
.mt-sm-hundredsixty {margin-top: 160px !important}
.mt-sm-hundredseventy {margin-top: 170px !important}
.mt-sm-hundredeighty {margin-top: 180px !important}
.mt-sm-hundredninety {margin-top: 190px !important}
.mt-sm-twohundred {margin-top: 200px !important}

/* Margin right */
.mr-sm-zero {margin-right: 0!important;}
.mr-sm-five {margin-right: 5px !important}
.mr-sm-ten {margin-right: 10px !important}
.mr-sm-fifteen {margin-right: 15px !important}
.mr-sm-twenty {margin-right: 20px !important}
.mr-sm-thirty {margin-right: 30px !important}
.mr-sm-fourty {margin-right: 40px !important}
.mr-sm-fifty {margin-right: 50px !important}
.mr-sm-sixty {margin-right: 60px !important}
.mr-sm-seventy {margin-right: 70px !important}
.mr-sm-eighty {margin-right: 80px !important}
.mr-sm-ninety {margin-right: 90px !important}
.mr-sm-hundred {margin-right: 100px !important}
.mr-sm-hundredten {margin-right: 110px !important}
.mr-sm-hundredtwenty {margin-right: 120px !important}
.mr-sm-hundredthirty {margin-right: 130px !important}
.mr-sm-hundredfourty {margin-right: 140px !important}
.mr-sm-hundredfifty {margin-right: 150px !important}
.mr-sm-hundredsixty {margin-right: 160px !important}
.mr-sm-hundredseventy {margin-right: 170px !important}
.mr-sm-hundredeighty {margin-right: 180px !important}
.mr-sm-hundredninety {margin-right: 190px !important}
.mr-sm-twohundred {margin-right: 200px !important}

/* Margin bottom */
.mb-sm-zero {margin-bottom: 0!important;}
.mb-sm-five {margin-bottom: 5px !important}
.mb-sm-ten {margin-bottom: 10px !important}
.mb-sm-fifteen {margin-bottom: 15px !important}
.mb-sm-twenty {margin-bottom: 20px !important}
.mb-sm-thirty {margin-bottom: 30px !important}
.mb-sm-fourty {margin-bottom: 40px !important}
.mb-sm-fifty {margin-bottom: 50px !important}
.mb-sm-sixty {margin-bottom: 60px !important}
.mb-sm-seventy {margin-bottom: 70px !important}
.mb-sm-eighty {margin-bottom: 80px !important}
.mb-sm-ninety {margin-bottom: 90px !important}
.mb-sm-hundred {margin-bottom: 100px !important}
.mb-sm-hundredten {margin-bottom: 110px !important}
.mb-sm-hundredtwenty {margin-bottom: 120px !important}
.mb-sm-hundredthirty {margin-bottom: 130px !important}
.mb-sm-hundredfourty {margin-bottom: 140px !important}
.mb-sm-hundredfifty {margin-bottom: 150px !important}
.mb-sm-hundredsixty {margin-bottom: 160px !important}
.mb-sm-hundredseventy {margin-bottom: 170px !important}
.mb-sm-hundredeighty {margin-bottom: 180px !important}
.mb-sm-hundredninety {margin-bottom: 190px !important}
.mb-sm-twohundred {margin-bottom: 200px !important}

/* Margin left */
.ml-sm-zero {margin-left: 0!important;}
.ml-sm-five {margin-left: 5px !important}
.ml-sm-ten {margin-left: 10px !important}
.ml-sm-fifteen {margin-left: 15px !important}
.ml-sm-twenty {margin-left: 20px !important}
.ml-sm-thirty {margin-left: 30px !important}
.ml-sm-fourty {margin-left: 40px !important}
.ml-sm-fifty {margin-left: 50px !important}
.ml-sm-sixty {margin-left: 60px !important}
.ml-sm-seventy {margin-left: 70px !important}
.ml-sm-eighty {margin-left: 80px !important}
.ml-sm-ninety {margin-left: 90px !important}
.ml-sm-hundred {margin-left: 100px !important}
.ml-sm-hundredten {margin-left: 110px !important}
.ml-sm-hundredtwenty {margin-left: 120px !important}
.ml-sm-hundredthirty {margin-left: 130px !important}
.ml-sm-hundredfourty {margin-left: 140px !important}
.ml-sm-hundredfifty {margin-left: 150px !important}
.ml-sm-hundredsixty {margin-left: 160px !important}
.ml-sm-hundredseventy {margin-left: 170px !important}
.ml-sm-hundredeighty {margin-left: 180px !important}
.ml-sm-hundredninety {margin-left: 190px !important}
.ml-sm-twohundred {margin-left: 200px !important}

/* Padding top */
.pt-sm-zero {padding-top: 0!important;}
.pt-sm-five {padding-top: 5px !important}
.pt-sm-ten {padding-top: 10px !important}
.pt-sm-fifteen {padding-top: 15px !important}
.pt-sm-twenty {padding-top: 20px !important}
.pt-sm-thirty {padding-top: 30px !important}
.pt-sm-fourty {padding-top: 40px !important}
.pt-sm-fifty {padding-top: 50px !important}
.pt-sm-sixty {padding-top: 60px !important}
.pt-sm-seventy {padding-top: 70px !important}
.pt-sm-eighty {padding-top: 80px !important}
.pt-sm-ninety {padding-top: 90px !important}
.pt-sm-hundred {padding-top: 100px !important}
.pt-sm-hundredten {padding-top: 110px !important}
.pt-sm-hundredtwenty {padding-top: 120px !important}
.pt-sm-hundredthirty {padding-top: 130px !important}
.pt-sm-hundredfourty {padding-top: 140px !important}
.pt-sm-hundredfifty {padding-top: 150px !important}
.pt-sm-hundredsixty {padding-top: 160px !important}
.pt-sm-hundredseventy {padding-top: 170px !important}
.pt-sm-hundredeighty {padding-top: 180px !important}
.pt-sm-hundredninety {padding-top: 190px !important}
.pt-sm-twohundred {padding-top: 200px !important}

/* Padding right */
.pr-sm-zero {padding-right: 0!important;}
.pr-sm-five {padding-right: 5px !important}
.pr-sm-ten {padding-right: 10px !important}
.pr-sm-fifteen {padding-right: 15px !important}
.pr-sm-twenty {padding-right: 20px !important}
.pr-sm-thirty {padding-right: 30px !important}
.pr-sm-fourty {padding-right: 40px !important}
.pr-sm-fifty {padding-right: 50px !important}
.pr-sm-sixty {padding-right: 60px !important}
.pr-sm-seventy {padding-right: 70px !important}
.pr-sm-eighty {padding-right: 80px !important}
.pr-sm-ninety {padding-right: 90px !important}
.pr-sm-hundred {padding-right: 100px !important}
.pr-sm-hundredten {padding-right: 110px !important}
.pr-sm-hundredtwenty {padding-right: 120px !important}
.pr-sm-hundredthirty {padding-right: 130px !important}
.pr-sm-hundredfourty {padding-right: 140px !important}
.pr-sm-hundredfifty {padding-right: 150px !important}
.pr-sm-hundredsixty {padding-right: 160px !important}
.pr-sm-hundredseventy {padding-right: 170px !important}
.pr-sm-hundredeighty {padding-right: 180px !important}
.pr-sm-hundredninety {padding-right: 190px !important}
.pr-sm-twohundred {padding-right: 200px !important}

/* Padding bottom */
.pb-sm-zero {padding-bottom: 0!important;}
.pb-sm-five {padding-bottom: 5px !important}
.pb-sm-ten {padding-bottom: 10px !important}
.pb-sm-fifteen {padding-bottom: 15px !important}
.pb-sm-twenty {padding-bottom: 20px !important}
.pb-sm-thirty {padding-bottom: 30px !important}
.pb-sm-fourty {padding-bottom: 40px !important}
.pb-sm-fifty {padding-bottom: 50px !important}
.pb-sm-sixty {padding-bottom: 60px !important}
.pb-sm-seventy {padding-bottom: 70px !important}
.pb-sm-eighty {padding-bottom: 80px !important}
.pb-sm-ninety {padding-bottom: 90px !important}
.pb-sm-hundred {padding-bottom: 100px !important}
.pb-sm-hundredten {padding-bottom: 110px !important}
.pb-sm-hundredtwenty {padding-bottom: 120px !important}
.pb-sm-hundredthirty {padding-bottom: 130px !important}
.pb-sm-hundredfourty {padding-bottom: 140px !important}
.pb-sm-hundredfifty {padding-bottom: 150px !important}
.pb-sm-hundredsixty {padding-bottom: 160px !important}
.pb-sm-hundredseventy {padding-bottom: 170px !important}
.pb-sm-hundredeighty {padding-bottom: 180px !important}
.pb-sm-hundredninety {padding-bottom: 190px !important}
.pb-sm-twohundred {padding-bottom: 200px !important}

/* Padding left */
.pl-sm-zero {padding-left: 0!important;}
.pl-sm-five {padding-left: 5px !important}
.pl-sm-ten {padding-left: 10px !important}
.pl-sm-fifteen {padding-left: 15px !important}
.pl-sm-twenty {padding-left: 20px !important}
.pl-sm-thirty {padding-left: 30px !important}
.pl-sm-fourty {padding-left: 40px !important}
.pl-sm-fifty {padding-left: 50px !important}
.pl-sm-sixty {padding-left: 60px !important}
.pl-sm-seventy {padding-left: 70px !important}
.pl-sm-eighty {padding-left: 80px !important}
.pl-sm-ninety {padding-left: 90px !important}
.pl-sm-hundred {padding-left: 100px !important}
.pl-sm-hundredten {padding-left: 110px !important}
.pl-sm-hundredtwenty {padding-left: 120px !important}
.pl-sm-hundredthirty {padding-left: 130px !important}
.pl-sm-hundredfourty {padding-left: 140px !important}
.pl-sm-hundredfifty {padding-left: 150px !important}
.pl-sm-hundredsixty {padding-left: 160px !important}
.pl-sm-hundredseventy {padding-left: 170px !important}
.pl-sm-hundredeighty {padding-left: 180px !important}
.pl-sm-hundredninety {padding-left: 190px !important}
.pl-sm-twohundred {padding-left: 200px !important}
}

/* xs: max-width 767px */
@media (max-width:767px) {
/* Basic Margin */
.m-xs-zero {margin: 0px !important}
.m-xs-five {margin: 5px !important}
.m-xs-ten {margin: 10px !important}
.m-xs-fifteen {margin: 15px !important}
.m-xs-twenty {margin: 20px !important}
.m-xs-thirty {margin: 30px !important}
.m-xs-fourty {margin: 40px !important}
.m-xs-fifty {margin: 50px !important}
.m-xs-sixty {margin: 60px !important}
.m-xs-seventy {margin: 70px !important}
.m-xs-eighty {margin: 80px !important}
.m-xs-ninety {margin: 90px !important}
.m-xs-hundred {margin: 100px !important}
.m-xs-hundredten {margin: 110px !important}
.m-xs-hundredtwenty {margin: 120px !important}
.m-xs-hundredthirty {margin: 130px !important}
.m-xs-hundredfourty {margin: 140px !important}
.m-xs-hundredfifty {margin: 150px !important}
.m-xs-hundredsixty {margin: 160px !important}
.m-xs-hundredseventy {margin: 170px !important}
.m-xs-hundredeighty {margin: 180px !important}
.m-xs-hundredninety {margin: 190px !important}
.m-xs-twohundred {margin: 200px !important}

/* Basic Padding */
.p-xs-zero {padding: 0!important;}
.p-xs-five {padding: 5px !important}
.p-xs-ten {padding: 10px !important}
.p-xs-fifteen {padding: 15px !important}
.p-xs-twenty {padding: 20px !important}
.p-xs-thirty {padding: 30px !important}
.p-xs-fourty {padding: 40px !important}
.p-xs-fifty {padding: 50px !important}
.p-xs-sixty {padding: 60px !important}
.p-xs-seventy {padding: 70px !important}
.p-xs-eighty {padding: 80px !important}
.p-xs-ninety {padding: 90px !important}
.p-xs-hundred {padding: 100px !important}
.p-xs-hundredten {padding: 110px !important}
.p-xs-hundredtwenty {padding: 120px !important}
.p-xs-hundredthirty {padding: 130px !important}
.p-xs-hundredfourty {padding: 140px !important}
.p-xs-hundredfifty {padding: 150px !important}
.p-xs-hundredsixty {padding: 160px !important}
.p-xs-hundredseventy {padding: 170px !important}
.p-xs-hundredeighty {padding: 180px !important}
.p-xs-hundredninety {padding: 190px !important}
.p-xs-twohundred {padding: 200px !important}

/* Margin top */
.mt-xs-zero {margin-top: 0!important;}
.mt-xs-five {margin-top: 5px !important}
.mt-xs-ten {margin-top: 10px !important}
.mt-xs-fifteen {margin-top: 15px !important}
.mt-xs-twenty {margin-top: 20px !important}
.mt-xs-thirty {margin-top: 30px !important}
.mt-xs-fourty {margin-top: 40px !important}
.mt-xs-fifty {margin-top: 50px !important}
.mt-xs-sixty {margin-top: 60px !important}
.mt-xs-seventy {margin-top: 70px !important}
.mt-xs-eighty {margin-top: 80px !important}
.mt-xs-ninety {margin-top: 90px !important}
.mt-xs-hundred {margin-top: 100px !important}
.mt-xs-hundredten {margin-top: 110px !important}
.mt-xs-hundredtwenty {margin-top: 120px !important}
.mt-xs-hundredthirty {margin-top: 130px !important}
.mt-xs-hundredfourty {margin-top: 140px !important}
.mt-xs-hundredfifty {margin-top: 150px !important}
.mt-xs-hundredsixty {margin-top: 160px !important}
.mt-xs-hundredseventy {margin-top: 170px !important}
.mt-xs-hundredeighty {margin-top: 180px !important}
.mt-xs-hundredninety {margin-top: 190px !important}
.mt-xs-twohundred {margin-top: 200px !important}

/* Margin right */
.mr-xs-zero {margin-right: 0!important;}
.mr-xs-five {margin-right: 5px !important}
.mr-xs-ten {margin-right: 10px !important}
.mr-xs-fifteen {margin-right: 15px !important}
.mr-xs-twenty {margin-right: 20px !important}
.mr-xs-thirty {margin-right: 30px !important}
.mr-xs-fourty {margin-right: 40px !important}
.mr-xs-fifty {margin-right: 50px !important}
.mr-xs-sixty {margin-right: 60px !important}
.mr-xs-seventy {margin-right: 70px !important}
.mr-xs-eighty {margin-right: 80px !important}
.mr-xs-ninety {margin-right: 90px !important}
.mr-xs-hundred {margin-right: 100px !important}
.mr-xs-hundredten {margin-right: 110px !important}
.mr-xs-hundredtwenty {margin-right: 120px !important}
.mr-xs-hundredthirty {margin-right: 130px !important}
.mr-xs-hundredfourty {margin-right: 140px !important}
.mr-xs-hundredfifty {margin-right: 150px !important}
.mr-xs-hundredsixty {margin-right: 160px !important}
.mr-xs-hundredseventy {margin-right: 170px !important}
.mr-xs-hundredeighty {margin-right: 180px !important}
.mr-xs-hundredninety {margin-right: 190px !important}
.mr-xs-twohundred {margin-right: 200px !important}

/* Margin bottom */
.mb-xs-zero {margin-bottom: 0!important;}
.mb-xs-five {margin-bottom: 5px !important}
.mb-xs-ten {margin-bottom: 10px !important}
.mb-xs-fifteen {margin-bottom: 15px !important}
.mb-xs-twenty {margin-bottom: 20px !important}
.mb-xs-thirty {margin-bottom: 30px !important}
.mb-xs-fourty {margin-bottom: 40px !important}
.mb-xs-fifty {margin-bottom: 50px !important}
.mb-xs-sixty {margin-bottom: 60px !important}
.mb-xs-seventy {margin-bottom: 70px !important}
.mb-xs-eighty {margin-bottom: 80px !important}
.mb-xs-ninety {margin-bottom: 90px !important}
.mb-xs-hundred {margin-bottom: 100px !important}
.mb-xs-hundredten {margin-bottom: 110px !important}
.mb-xs-hundredtwenty {margin-bottom: 120px !important}
.mb-xs-hundredthirty {margin-bottom: 130px !important}
.mb-xs-hundredfourty {margin-bottom: 140px !important}
.mb-xs-hundredfifty {margin-bottom: 150px !important}
.mb-xs-hundredsixty {margin-bottom: 160px !important}
.mb-xs-hundredseventy {margin-bottom: 170px !important}
.mb-xs-hundredeighty {margin-bottom: 180px !important}
.mb-xs-hundredninety {margin-bottom: 190px !important}
.mb-xs-twohundred {margin-bottom: 200px !important}

/* Margin left */
.ml-xs-zero {margin-left: 0!important;}
.ml-xs-five {margin-left: 5px !important}
.ml-xs-ten {margin-left: 10px !important}
.ml-xs-fifteen {margin-left: 15px !important}
.ml-xs-twenty {margin-left: 20px !important}
.ml-xs-thirty {margin-left: 30px !important}
.ml-xs-fourty {margin-left: 40px !important}
.ml-xs-fifty {margin-left: 50px !important}
.ml-xs-sixty {margin-left: 60px !important}
.ml-xs-seventy {margin-left: 70px !important}
.ml-xs-eighty {margin-left: 80px !important}
.ml-xs-ninety {margin-left: 90px !important}
.ml-xs-hundred {margin-left: 100px !important}
.ml-xs-hundredten {margin-left: 110px !important}
.ml-xs-hundredtwenty {margin-left: 120px !important}
.ml-xs-hundredthirty {margin-left: 130px !important}
.ml-xs-hundredfourty {margin-left: 140px !important}
.ml-xs-hundredfifty {margin-left: 150px !important}
.ml-xs-hundredsixty {margin-left: 160px !important}
.ml-xs-hundredseventy {margin-left: 170px !important}
.ml-xs-hundredeighty {margin-left: 180px !important}
.ml-xs-hundredninety {margin-left: 190px !important}
.ml-xs-twohundred {margin-left: 200px !important}

/* Padding top */
.pt-xs-zero {padding-top: 0!important;}
.pt-xs-five {padding-top: 5px !important}
.pt-xs-ten {padding-top: 10px !important}
.pt-xs-fifteen {padding-top: 15px !important}
.pt-xs-twenty {padding-top: 20px !important}
.pt-xs-thirty {padding-top: 30px !important}
.pt-xs-fourty {padding-top: 40px !important}
.pt-xs-fifty {padding-top: 50px !important}
.pt-xs-sixty {padding-top: 60px !important}
.pt-xs-seventy {padding-top: 70px !important}
.pt-xs-eighty {padding-top: 80px !important}
.pt-xs-ninety {padding-top: 90px !important}
.pt-xs-hundred {padding-top: 100px !important}
.pt-xs-hundredten {padding-top: 110px !important}
.pt-xs-hundredtwenty {padding-top: 120px !important}
.pt-xs-hundredthirty {padding-top: 130px !important}
.pt-xs-hundredfourty {padding-top: 140px !important}
.pt-xs-hundredfifty {padding-top: 150px !important}
.pt-xs-hundredsixty {padding-top: 160px !important}
.pt-xs-hundredseventy {padding-top: 170px !important}
.pt-xs-hundredeighty {padding-top: 180px !important}
.pt-xs-hundredninety {padding-top: 190px !important}
.pt-xs-twohundred {padding-top: 200px !important}

/* Padding right */
.pr-xs-zero {padding-right: 0!important;}
.pr-xs-five {padding-right: 5px !important}
.pr-xs-ten {padding-right: 10px !important}
.pr-xs-fifteen {padding-right: 15px !important}
.pr-xs-twenty {padding-right: 20px !important}
.pr-xs-thirty {padding-right: 30px !important}
.pr-xs-fourty {padding-right: 40px !important}
.pr-xs-fifty {padding-right: 50px !important}
.pr-xs-sixty {padding-right: 60px !important}
.pr-xs-seventy {padding-right: 70px !important}
.pr-xs-eighty {padding-right: 80px !important}
.pr-xs-ninety {padding-right: 90px !important}
.pr-xs-hundred {padding-right: 100px !important}
.pr-xs-hundredten {padding-right: 110px !important}
.pr-xs-hundredtwenty {padding-right: 120px !important}
.pr-xs-hundredthirty {padding-right: 130px !important}
.pr-xs-hundredfourty {padding-right: 140px !important}
.pr-xs-hundredfifty {padding-right: 150px !important}
.pr-xs-hundredsixty {padding-right: 160px !important}
.pr-xs-hundredseventy {padding-right: 170px !important}
.pr-xs-hundredeighty {padding-right: 180px !important}
.pr-xs-hundredninety {padding-right: 190px !important}
.pr-xs-twohundred {padding-right: 200px !important}

/* Padding bottom */
.pb-xs-zero {padding-bottom: 0!important;}
.pb-xs-five {padding-bottom: 5px !important}
.pb-xs-ten {padding-bottom: 10px !important}
.pb-xs-fifteen {padding-bottom: 15px !important}
.pb-xs-twenty {padding-bottom: 20px !important}
.pb-xs-thirty {padding-bottom: 30px !important}
.pb-xs-fourty {padding-bottom: 40px !important}
.pb-xs-fifty {padding-bottom: 50px !important}
.pb-xs-sixty {padding-bottom: 60px !important}
.pb-xs-seventy {padding-bottom: 70px !important}
.pb-xs-eighty {padding-bottom: 80px !important}
.pb-xs-ninety {padding-bottom: 90px !important}
.pb-xs-hundred {padding-bottom: 100px !important}
.pb-xs-hundredten {padding-bottom: 110px !important}
.pb-xs-hundredtwenty {padding-bottom: 120px !important}
.pb-xs-hundredthirty {padding-bottom: 130px !important}
.pb-xs-hundredfourty {padding-bottom: 140px !important}
.pb-xs-hundredfifty {padding-bottom: 150px !important}
.pb-xs-hundredsixty {padding-bottom: 160px !important}
.pb-xs-hundredseventy {padding-bottom: 170px !important}
.pb-xs-hundredeighty {padding-bottom: 180px !important}
.pb-xs-hundredninety {padding-bottom: 190px !important}
.pb-xs-twohundred {padding-bottom: 200px !important}

/* Padding left */
.pl-xs-zero {padding-left: 0!important;}
.pl-xs-five {padding-left: 5px !important}
.pl-xs-ten {padding-left: 10px !important}
.pl-xs-fifteen {padding-left: 15px !important}
.pl-xs-twenty {padding-left: 20px !important}
.pl-xs-thirty {padding-left: 30px !important}
.pl-xs-fourty {padding-left: 40px !important}
.pl-xs-fifty {padding-left: 50px !important}
.pl-xs-sixty {padding-left: 60px !important}
.pl-xs-seventy {padding-left: 70px !important}
.pl-xs-eighty {padding-left: 80px !important}
.pl-xs-ninety {padding-left: 90px !important}
.pl-xs-hundred {padding-left: 100px !important}
.pl-xs-hundredten {padding-left: 110px !important}
.pl-xs-hundredtwenty {padding-left: 120px !important}
.pl-xs-hundredthirty {padding-left: 130px !important}
.pl-xs-hundredfourty {padding-left: 140px !important}
.pl-xs-hundredfifty {padding-left: 150px !important}
.pl-xs-hundredsixty {padding-left: 160px !important}
.pl-xs-hundredseventy {padding-left: 170px !important}
.pl-xs-hundredeighty {padding-left: 180px !important}
.pl-xs-hundredninety {padding-left: 190px !important}
.pl-xs-twohundred {padding-left: 200px !important}
}